alabaster==0.7.13
anyio==3.6.2
attrs==21.4.0
Babel==2.11.0
beautifulsoup4==4.11.2
build==0.10.0
CacheControl==0.12.11
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.1
cleo==2.0.1
click==8.1.3
crashtest==0.4.1
cryptography==3.4.8
distlib==0.3.6
docutils==0.17.1
dulwich==0.20.50
fastapi==0.95.0
feedparser==6.0.10
filelock==3.10.0
grimoirelab-toolkit==0.3.3
h11==0.14.0
html5lib==1.1
idna==3.4
imagesize==1.4.1
importlib-metadata==6.1.0
installer==0.7.0
interchange==2021.0.4
jaraco.classes==3.2.3
Jinja2==3.1.2
jsonschema==4.17.3
keyring==23.13.1
lockfile==0.12.2
markdown-it-py==1.1.0
MarkupSafe==2.1.2
mdit-py-plugins==0.2.8
monotonic==1.6
more-itertools==9.1.0
msgpack==1.0.5
neo4j==5.6.0
neo4j-driver==4.4.10
neobolt==1.7.17
neomodel==4.0.10
packaging==23.0
pansi==2020.7.3
perceval @ file:///Users/egeergull/Desktop/grimoirelab-perceval
pexpect==4.8.0
pkginfo==1.9.6
platformdirs==2.6.2
poetry==1.4.1
poetry-core==1.5.2
poetry-plugin-export==1.3.0
ptyprocess==0.7.0
py2neo==2021.2.3
pycparser==2.21
pydantic==1.10.6
Pygments==2.14.0
PyJWT==2.6.0
pyproject_hooks==1.0.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
rapidfuzz==2.13.7
requests==2.28.2
requests-toolbelt==0.10.1
sgmllib3k==1.0.0
shellingham==1.5.0.post1
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==4.3.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
starlette==0.26.1
tomlkit==0.11.6
trove-classifiers==2023.3.9
typing_extensions==4.5.0
urllib3==1.26.14
uvicorn==0.21.1
virtualenv==20.21.0
webencodings==0.5.1
xattr==0.10.1
zipp==3.15.0
